body {
    background-color: #c1e6d177;
}
/* Large Screens */
@media (min-width: 1101px) {
    .bgcontainer {
        display: grid;
        height: 100%;
        width: auto;
        grid-gap: 5px;
        grid-template-columns: repeat(6, 325px);
        grid-template-rows: 75px 600px 1fr;
        grid-template-areas:
        "hd hd hd hd hd hd"
        "feat feat feat feat lk lk"
        "ft ft ft ft ft ft";
        border: 2px solid yellowgreen;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bgheader {
        grid-area: hd;
        width: auto;
        text-decoration: underline;
    }
    .bgfeature {
        grid-area: feat;
        width: auto;
        text-justify: left;
    }
    .bglinks {
        grid-area: lk;

        text-justify: left;
    }
    .bgfooter {
        grid-area: ft;
        width: auto;
    }
}