body {
    background-color: #c1e6d177;
}
.header {
    grid-area: hd;
    align-items: center;
    justify-content: left;
}
.sidebar {
    grid-area: sd;
    font-weight: 700;
}
.content {
    grid-area: main;
    display: flex;
    padding: 1mm;
    flex-direction: row;
    justify-content: left;
}
.footer {
    grid-area: ft;
}
    /* Set up main images */
.box {
    font-weight: 600;
    justify-content: center;
    border: 2px solid green;
}
#one {
    height: 98%;
    width: 33%;
    Background-image: image('images/Cliffs_of_Mohr.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#two {
    height: 98%;
    width: 33%;
    background-image: image('images/Kilkenny_Castle.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#three {
    height: 98%;
    width: 33%;
    background-image: image('images/Sheep.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: .4rem 0;
}