body {
    background-color: #c1e6d177;
}
.bgbox {
    width: 100%;
    font-weight: 600;
    border: 2px solid green
}
.bgheader {
    grid-area: hd;
    text-decoration: underline;
}
.bgfeature {
    grid-area: feat;
    text-justify: left;
}
.bglinks {
    grid-area: lk;
}
.bgfooter {
    grid-area: ft;
}